*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: darkblue;
    color: white;
}

.navbar aside{
    padding-left: 20px;
}

.unorder{
    display: flex;
    justify-content: space-between;
    gap:18px;
    list-style: none;
    padding-right: 20px;
}

.title{
    text-align:center;
    margin-top: 10px;
}
